@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
}

html {
    overflow-x: hidden !important;
}

:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-color: #E23B1E;
    --secondary-color: #00042B;
}

.services-section .service-bg img {
    width: 100%;
    height: 800px;
}

.services-section .service-img img {
    width: 250px;
    height: 600px;
    object-fit: cover;
}

.services-section .container {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* @media (max-width: 991px) {
    .services-section .container {
        top: 50%;
    }
}

@media (max-width: 576px) {
    .services-section .container {
        top: 50%;
    }
}

.services-section .serveice-tittle h1 {
    font-weight: 800;
    font-size: 80px;
}


.main-row {
    display: flex;
}

.custome-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em 0;
}

.custome-card {
    align-items: flex-end;
    justify-content: center;
    position: relative;
    max-width: 150px;
    min-height: 500px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    transition: max-width 0.5s ease-in-out;
}

.custome-card:hover {
    max-width: 500px;
}

.custome-card:nth-of-type(1) {
    background-image: url(./assets/Services/img1.png);
}
.custome-card:nth-of-type(2) {
    background-image: url(./assets/Services/img2.png);
}

.custome-card:nth-of-type(3) {
    background-image: url(./assets/Services/img3.png);
}

.custome-card:nth-of-type(4) {
    background-image: url(./assets/Services/img1.png);
}

.custome-card:nth-of-type(5) {
    background-image: url(./assets/Services/img2.png);
}



.custome-card-body {
    background: linear-gradient(180deg, rgba(45,45,45,0) 0%, #2d2d2d 100%);
    padding: 5em;
}

.custome-card-tittle {
    background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d 100%);
    position: absolute;
    inset: 0;
}

.custome-card:hover .custome-card-tittle {
    all: unset;
}

.custome-card-tittle h2 {
    font-size: clamp(38px, 1vw, 48px);
    color: #fffbfb;
    text-transform: uppercase;
    white-space: nowrap;
    transform: rotate(-90deg) translateX(-350px);
    font-size: 800 !important;
    font-size: 30px;
}


@media (max-width: 991px) {
    .custome-card-tittle h2{
        font-size: 18px;  
    }.custome-card-tittle p{
        font-size: 16px;
    }
}


.custome-card:hover h2 {
    padding-bottom: 0.5em;
    transform: unset;
}

.custome-card-body p {
    position: absolute;
    font-size: 18px;
    color: #fff;
    margin: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out;
}

.custome-card:hover p {
    position: relative;
    opacity: 1;
    max-height: 100%;
    transition-delay: 0.3s;
}

@media (max-width: 991px) {
    .main-row {
        flex-direction: row; 
        justify-content: center;
    }

    .custome-cards {
        flex-wrap: nowrap; 
        gap: 1em; 
    }

    .custome-card {
        max-width: 100%;
        margin-bottom: 1em; 
    }
}

@media (max-width: 576px) {
    .main-row {
        flex-direction: row; 
        justify-content: center;
        align-items: center;
    }

    .custome-cards {
        flex-wrap: nowrap; 
        overflow-x: auto; 
        gap: 1em;
    }

    .custome-card {
        max-width: 100%;
        margin-bottom: 1em;
    }
} */


/* Expand the first card without hover */
/* .custome-card:nth-of-type(1) {
    background-image: url(./assets/Services/img1.png);
    max-width: 500px; 
}

.custome-card:nth-of-type(1) .custome-card-tittle h2 {
    transform: none; 
    padding-bottom: 0.5em;
}


.custome-card:nth-of-type(1) .custome-card-body p {
    max-height: 100%; 
    opacity: 1; 
    position: relative; 
    transition: none; 
}


.custome-card:hover {
    max-width: 500px;
}

.custome-card:hover h2 {
    transform: none;
}

.custome-card:hover p {
    opacity: 1;
    max-height: 100%;
} */


.custome-card-body img{
    height: 400px;
}


.services-img .main-service-img img {
    height: 500px;
    object-fit: cover;
    max-width: 200px;
    width: 100%; 
    transition: width 1s ease-in-out; 
    border-radius: 20px;
}

/* .services-img .main-service-img text{
    position: absolute;
    top: 50%;
}

.services-img .main-service-img img:hover {
    max-width: 500px; 
}


.serveice-tittle h1{
    font-weight: 900;
    font-size: 70px;
}

.main-service-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .main-service-img img {
    height: 600px;
    object-fit: cover;
    width: 100%;
    max-width: 200px; 
    transition: width 0.3s ease-in-out;
    position: relative;
  }
  
  .main-service-img img:hover {
    width: 400px; 
  }
  
  .service-title {
    margin-top: 10px; 
    font-size: 18px; 
    font-weight: bold;
    position: absolute; 
    top: 50%;
    transform: rotate(90deg);
  }
  
  .service-description {
    margin-top: 5px; 
    font-size: 14px; 
    color: #555; 
    position: absolute; 
    top: 60%;
    padding: 20px;
  }
  
  .services-section .container {
    display: flex;
    width: 90vw;
  }
  
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
  }
  
  .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  } */
  


  .services-tittle h1{
    font-weight: 900;
    font-size: 70px;
  }

  .services-tittle {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50% ,-50%);

  }


  .services-section .container {
    display: flex;
    width: 90vw;
  }
  
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
    border: 1px solid var(--secondary-color);
  }


  
  .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  


