@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
}



:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-color: #E23B1E;
    --secondary-color: #00042B;
}

.services-section .service-bg img {
    width: 100%;
    height: 800px;
}

.services-section .service-img img {
    width: 250px;
    height: 600px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .services-section .service-bg img {
        height: 910px !important;
    }
}

.services-section .container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custome-card-body img{
    height: 400px;
}

.services-img .main-service-img img {
    height: 500px;
    object-fit: cover;
    max-width: 200px;
    width: 100%; 
    transition: width 1s ease-in-out; 
    border-radius: 20px;
}
  .services-tittle h1 {
    font-weight: 800;
    font-size: 70px;
  }
  
  .services-tittle {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .services-section .container {
    display: flex;
    width: 100%;
  }
  
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    flex: 1.1;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
    border: 1px solid var(--secondary-color);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    transition: background-color 0.3s ease-in-out; 
    border-radius: 20px; 
}

@media (max-width: 576px) {
  .panel {
      height: 300px; 
      border-radius: 20px; 
      margin: 5px;
  }

  .panel::before {
    border-radius: 0px; 
  }
}


.panel * {
    position: relative; 
    z-index: 2; 
}

  .panel h3 {
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    bottom: 34%;
    left: 20px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  @media (max-width: 991px) {
    .panel h3 {
      bottom: 42% !important;
    }
  }
  
  
  .panel p {
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    bottom: 20%;
    left: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  
  .panel-btn {
    position: absolute;
    bottom: 10%;
    left: 20px;
    background-color: transparent; 
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    border: 2px solid var(--primary-color); 
    transition: opacity 0.3s ease-in;
    font-weight: 500;
    text-decoration: none;
}
.panel-btn:hover{
  background: var(--primary-color);
  color: #fff;
}

  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3,
  .panel.active p,
  .panel.active .panel-btn {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  
  @media (max-width: 776px) {
    .services-tittle h1 {
      font-size: 40px;
      margin-top: 70px; 
    }

    @media (max-width: 576px) {
      .services-tittle h1 {
        font-size: 35px;
        margin-top: 70px; 
      }
    }  
  
    .services-tittle {
      top: 5%; 
    }
  
    .services-section .container {
      flex-direction: column; 
      width: 100%; 
      top: 75%;
    }
  
    .panel {
      flex: 1; 
      margin: 10px 0; 
      border-radius: 20px; 
      padding: 20px;
      height: 300px !important;
    }
  
    .panel h3,
    .panel p,
    .panel-btn {
      opacity: 1; 
      position: static; 
      transform: none; 
      margin: 20px 0; 
      color: #fff;
      position: relative;
    }
  
    .panel-btn a{
      text-decoration: none;
    }
  
    .panel.active {
      flex: 1; 
      height: 600px;
    }
  }
  
  .panel {
    position: relative !important;
  }
  
  .h-tittlt h4 {
    font-weight: 800;
    font-size: 22px;
    transform: translate(-50%, 220px) rotate(90deg); 
    transition: transform 0.5s ease;
    position: absolute;
    bottom: 50%; 
    left: 50%;
    width: 100%;
    white-space: nowrap; 
    text-align: center; 
  }

  @media (max-width: 991px) {
    .h-tittlt h4 {
      display: none;
    }
  }

  
  
  
  
  

  
  
  
  

  

