@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;
    font-family: var(--primary-font);
}

html {
    overflow-x: hidden !important;
}

:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-color: #DA4606;
    --secondary-color: #00042B;
}


.banner-section .banner img{
    border-bottom: 2px solid #fff;
    width: 100%;
    height: 650px;
    object-fit: cover;
}

@media (max-width: 991px) {
    .banner-section .banner img{
        height: 500px;
    } 
}

.banner-section .container{
    position: absolute;
    top: 20%;
    left: 9%;
}

@media (max-width: 991px) {
    .banner-section .container{
        left: 5%;
    } 
}


.banner-info h2 {
    font-weight: 300;
    font-size: 60px;
    color: #fff;
}


.banner-info h1 {
    font-weight: 800;
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    color: var(--primary-color);
}

@media (max-width: 991px) {
    .banner-info h2 {
        font-size: 35px;
    }

    .banner-info h1 {
        font-size: 55px;
        -webkit-text-stroke-width: 1.5px;
    }
}

@media (max-width: 576px) {
    .banner-info h2 {
        font-size: 23px;
    }

    .banner-info h1 {
        font-size: 25px;
        /* -webkit-text-stroke-width: 1px;  */
    }
}

/* button css start */

.banner-info-btn {
    display: inline-block;
    padding: 13px 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background: var(--primary-color);
}
.banner-info-btn:hover{
    background: #00042B;
}

.banner-info-btn a {
    text-decoration: none;
    color: #fff;
    display: inline-flex; 
    align-items: center; 
    gap: 5px; 
    transition: 0.3s;
}

.banner-info-btn a i {
    transition: transform 0.3s ease;
}

.banner-info-btn:hover a {
    transform: translateX(-25px); 
}

.banner-info-btn:hover a i {
    transform: translateX(130px); 
}

/* button css end */



