@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow-x: hidden !important; */
    font-family: var(--primary-font);
}



:root {
    /* --primary-font: "Open Sans", sans-serif; */
    --primary-color: #D20259;
    --secondary-color: #010638;
}


.yourapp-section .yourapp-info h1{
font-weight: 800;
font-size: 60px;
max-width: 400px;
}
.yourapp-section .yourapp-info h1 span{
    color: var(--primary-color);
}
.yourapp-section .yourapp-info p{
    font-weight: 500;
    font-size: 20px;
}


@media(max-width:991px) {
    .yourapp-section .yourapp-info h1{
        font-size: 40px;
    }
}

@media(max-width:576px) {
    .yourapp-section .yourapp-info h1 {
        font-size: 25px;
    }
    .yourapp-section .yourapp-info p {
        font-size: 16px;
    }
}


.yourapp-icon .yourapp-icon1 img{
    width: 80px;
    background: #DA8DC5;
    padding: 10px;
    border-radius: 10px;
}
.yourapp-icon .yourapp-icon2 img{
    width: 80px;
    background: #DA8D8E;
    padding: 10px;
    border-radius: 10px;
}
.yourapp-icon .yourapp-icon3 img{
    width: 80px;
    background: #DABE8D;
    padding: 10px;
    border-radius: 10px;
}


/* .appcard */

.appcard1 {
    background: #DA8DC5;
    padding: 20px;
    height: 380px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

@media(max-width:991px) {
    .appcard1{
        height: 500px;
    }
}

.appcard1:hover {
    background: #C56BB8; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
}

.appcard1 img{
    width: 100%;
}

.appcard1 h4{
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}

/* appcard2 */
.appcard2 {
    background: #DA8D8E;
    padding: 20px;
    height:  380px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

@media(max-width:991px) {
    .appcard2{
        height: 500px;
    }
}

.appcard2:hover {
    background: #B85A5B; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
}

.appcard2 img{
    width: 100%;
}

.appcard2 h4{
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}

/* appcard3 */
.appcard3 {
    background: #DABE8D;
    padding: 20px;
    height:  380px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

@media(max-width:991px) {
    .appcard3 {
        height: 500px;
    }
}

.appcard3:hover {
    background: #B8995A; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
}

.appcard3 img{
    width: 100%;
}

.appcard3 h4{
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}


