@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow-x: hidden !important; */
    font-family: var(--primary-font);
}

html {
    overflow-x: hidden !important;
}

:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-color: #E23B1E;
    --secondary-color: #00042B;
}

.company-section {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
}

.company-section .row {
    padding: 10px;
}

.company-section .company-img img {
    padding: 10px;
    aspect-ratio: 3 / 1;
    object-fit: contain;
}