@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    --primary-color: #E23B1E;
    --secondary-color: #00042B;
}

html {
    overflow-x: hidden !important;
}


.digitalprocess-section {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 0 0 300px 0;
    /* height: 600px; */
}

@media(max-width:991px) {
    .digitalprocess-section {
        border-radius: 0;
    }
}


.digitalprocess-section .container {
    margin-top: 30px;
}

.digitalprocess-section h1 {
    font-weight: 800;
    font-size: 40px;
    color: #fff;
}

.digitalprocess-section h1 span {
    color: var(--primary-color);
}

.digitalprocess-section p {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

@media(max-width:991px) {
    .digitalprocess-section h1 {
        font-size: 40px;
    }
}

@media(max-width:576px) {
    .digitalprocess-section h1 {
        font-size: 20px;
    }

    .digitalprocess-section p {
        font-size: 15px;
    }
}


.digitalprocess-card1 {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.digitalprocess-card1 .digitalprocess-card1-tittle h6 {
    font-weight: 800;
    font-size: 20px;
    color: var(--secondary-color);
}

@media(max-width:991px) {
    .digitalprocess-card1 .digitalprocess-card1-tittle h6 {
        font-size: 18px;
    }
}

.digitalprocess-card1 .digitalprocess-card1-tittle img {
    background: var(--primary-color);
    padding: 10px;
    width: 55px;
    border-radius: 10px;
}

.digitalprocess-card1 .digitalprocess-card1-num h3 {
    font-weight: 800;
    font-size: 40px;
    color: rgba(218, 70, 6, 0.2);
}

.digitalprocess-card1 p {
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

@media(max-width:991px) {
    .digitalprocess-card1 p {
        font-size: 16px;
    }
}

.digitalprocess-card2 {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.digitalprocess-card2 .digitalprocess-card2-tittle h6 {
    font-weight: 800;
    font-size: 20px;
    color: var(--secondary-color);
}

.digitalprocess-card2 .digitalprocess-card2-tittle img {
    background: #000;
    padding: 10px;
    width: 55px;
    border-radius: 10px;
}

.digitalprocess-card2 .digitalprocess-card2-num h3 {
    font-weight: 800;
    font-size: 40px;
    color: #00042B33;
}

.digitalprocess-card2 p {
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.digitalprocess-dot-icon img {
    position: absolute;
    bottom: 10%;
    left: 0;
}

.digitalprocess-dot-icon2 img {
    position: absolute;
    top: 5%;
    left: 0;
}