@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow-x: hidden !important; */
    font-family: var(--primary-font);
    /* background: linear-gradient(180deg, rgba(218, 70, 6, 0.06) 0%, rgba(0, 4, 43, 0.06) 100%); */
}


html {
    /* overflow-x: hidden !important; */
}

:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-color: #E23B1E;
    --secondary-color: #00042B;
}


.blogs-section-tittle h1{
     font-weight: 800;
     font-size: 50px;
     margin: 0 auto;
}
.blogs-section-tittle h1 span{
    color: var(--primary-color);
}

@media (max-width: 992px) {
    .blogs-section-tittle h1 {
        font-size: 30px;
        width: 100%;
    }
    .blogs-section-tittle h1{
        font-size: 25px;
    }
    
}

.page-blog-info h1{
    font-weight: 900;
    font-size: 30px;
}
.page-blog-info h1 span{
    color: var(--primary-color);
}
.page-blog-info h5{
    font-weight: 500;
    font-size: 20px;
}
.page-blog-info p{
    font-weight: 400;
    font-size: 18px;
}

@media (max-width: 992px) {
    .page-blog-info h1 {
        font-size: 22px;
    }
    .page-blog-info h5{
        font-size: 18px;
    }
    .page-blog-info p{
        font-size: 16px;  
    }
}


.blog-btn {
    border: 2px solid #fff;
    color: #fff;
    background: var(--primary-color);
    padding: 13px 35px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    /* overflow: hidden; */
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.blog-btn a {
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease;
}

.blog-btn:hover {
    background: var(--secondary-color);
}

.blog-btn a i {
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.blog-btn a:hover {
    transform: translateX(20px);
}

.blog-btn a:hover i {
    transform: translateX(-130px);
}


.date-icon i{
    background: var(--primary-color);
    padding: 15px;
    border-radius: 50%;
    color: #fff;

}