@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow-x: hidden !important; */
    font-family: var(--primary-font);
}

html {
    overflow-x: hidden !important;
}

:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-color: #E23B1E;
    --secondary-color: #00042B;
}


.news-section .news-bg-img img {
    height: 800px;
    width: 100%;
    object-fit: cover;
}

.news-section .tittle h1 {
    font-weight: 800;
    font-size: 70px;
    color: #fff;
}

.news-section .tittle h1 span {
    color: var(--primary-color);
}

.news-section .tittle h6 {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}

.news-section .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media (max-width: 991px) {
    .news-section .container {
        top: 50%;
        left: 50%;
    }

    .news-section .tittle h1 {
        font-size: 55px;
    }

    .news-section .tittle h6 {
        font-size: 22px;
    }

    .news-section .news-bg-img img {
        height: 900px;
    }
}

@media (max-width: 576px) {
    .news-section .container {
        top: 50%;
        left: 50%;
    }

    .news-section .tittle h1 {
        font-size: 25px;
    }

    .news-section .tittle h6 {
        font-size: 18px;
    }

    .news-section .news-bg-img img {
        height: 900px;
    }

    .news-section .news-logo img {
        width: 100px;
    }
}

.news-section .row {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
}

.news-section .news-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 30px;
}

.news-section .news-logo img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.news-section .new-btn {
    padding: 15px 20px;
    background: var(--primary-color);
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}

.news-section .new-btn:hover {
    background: var(--secondary-color);
}

.news-section .new-btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: transform 0.3s ease;
}

@media(max-width:576px) {
    .news-section .new-btn a {
        font-size: 16px;
    }
}

.news-section .new-btn:hover a {
    transform: translateX(30px);
    color: #fff;
}

.news-section .new-btn a i {
    transition: transform 0.3s ease;
}

.news-section .new-btn:hover a i {
    transform: translateX(-160px);
}

.idea-section-container {
    text-align: center;
}


.left-icon-img img {
    position: absolute;
    top: 10%;
}

.right-icon-img img {
    position: absolute;
    top: 0;
    right: 0;
}


.main-col1 {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    color: #000;
}


.main-col1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D5494B;
    transition: transform 0.3s ease;
    transform: scale(0);
    z-index: 0;
}

.main-col1::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 10px;
    z-index: 1;
}

.main-col1:hover::before {
    transform: scale(1);
}

.main-col1:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


.main-col1>div {
    position: relative;
    z-index: 2;
}



.main-col2 {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    color: #000;
}

.main-col2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D5494B;
    transition: transform 0.3s ease;
    transform: scale(0);
    z-index: 0;
}

.main-col2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 10px;
    z-index: 1;
}

.main-col2:hover::before {
    transform: scale(1);
}

.main-col2:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


.main-col2>div {
    position: relative;
    z-index: 2;
}


.main-col3 {
    border-bottom: 1px solid #000;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    color: #000;
}

.main-col3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D5494B;
    transition: transform 0.3s ease;
    transform: scale(0);
    z-index: 0;
}

.main-col3::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 10px;
    z-index: 1;
}

.main-col3:hover::before {
    transform: scale(1);
}

.main-col3:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


.main-col3>div {
    position: relative;
    z-index: 2;
}


.main-col4 {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    color: #000;
}

.main-col4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D5494B;
    transition: transform 0.3s ease;
    transform: scale(0);
    z-index: 0;
}

.main-col4::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 10px;
    z-index: 1;
}

.main-col4:hover::before {
    transform: scale(1);
}

.main-col4:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


.main-col4>div {
    position: relative;
    z-index: 2;
}





.main-col5 {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    color: #000;
}


.main-col5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D5494B;
    transition: transform 0.3s ease;
    transform: scale(0);
    z-index: 0;
}

.main-col5::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 10px;
    z-index: 1;
}

.main-col5:hover::before {
    transform: scale(1);
}

.main-col5:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


.main-col5>div {
    position: relative;
    z-index: 2;
}



.main-col6 {
    border-bottom: 1px solid #000;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    color: #000;
}


.main-col6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#D5494B;
    transition: transform 0.3s ease;
    transform: scale(0);
    z-index: 0;
}

.main-col6::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 10px;
    z-index: 1;
}

.main-col6:hover::before {
    transform: scale(1);
}

.main-col6:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


.main-col6>div {
    position: relative;
    z-index: 2;
}


.main-col7 {
    border-right: 1px solid #000;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    color: #000;
}

.main-col7::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D5494B;
    transition: transform 0.3s ease;
    transform: scale(0);
    z-index: 0;
}

.main-col7::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 10px;
    z-index: 1;
}

.main-col7:hover::before {
    transform: scale(1);
}

.main-col7:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


.main-col7>div {
    position: relative;
    z-index: 2;
}


.main-col8 {
    border-right: 1px solid #000;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    color: #000;
}

.main-col8::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D5494B;
    transition: transform 0.3s ease;
    transform: scale(0);
    z-index: 0;
}

.main-col8::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 10px;
    z-index: 1;
}

.main-col8:hover::before {
    transform: scale(1);
}

.main-col8:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


.main-col8>div {
    position: relative;
    z-index: 2;
}


@media(max-width: 991px) {
    .main-col2 {
        border-right: unset !important;
        border-bottom: 1px solid #000;
    }

    .main-col3 {
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    .main-col4 {
        border-right: unset;
        border-bottom: 1px solid #000;
    }

    .main-col7 {
        border-bottom: 1px solid #000;
    }

    .main-col8 {
        border-right: unset;
        border-bottom: 1px solid #000;
    }
}