@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;
    font-family: var(--primary-font);
}

html {
    overflow-x: hidden !important;
}

:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-color: #DA4606;
    --secondary-color: #00042B;
}

.assistant-about-section .about-info h1{
 font-weight: 800;
 font-size: 50px;
}

.assistant-about-section .about-info h1 span{
    color:var(--primary-color);
    ;
}

.assistant-about-section .about-info p{
    font-weight: 400;
    font-size: 18px;
}

/* .assistant-about-btn */

  .assistant-about-btn {
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
    background: var(--primary-color);
}

.assistant-about-btn:hover {
    background: var(--secondary-color);
}

.assistant-about-btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    transition: transform 0.3s ease;
}

@media(max-width:576px) {
    .assistant-about-btn a {
        font-size: 16px;
    }
}

.assistant-about-btn:hover a {
    transform: translateX(30px);
    color: #fff;
}

.assistant-about-btn a i {
    transition: transform 0.3s ease;
}

.assistant-about-btn:hover a i {
    transform: translateX(-150px);
}







  .assistant-side-img img{
    width: 100%;
  }

  .assistant-about-bg {
    position: absolute;
    top: -10%;
    right: 0;
    z-index: -1;
  }
  @media(max-width:991px){
    .assistant-about-bg{
        display: none;

    }
    .assistant-about-section .about-info h1{
        font-size: 30px;
    }
    .assistant-about-section .about-info{
        font-size: 18px;
    }
  }
  